.producto-card {
  border: 2px solid #9b4d96;
  background-color: #fffaf0;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(155, 77, 150, 0.3);
}

.producto-card h3 {
  margin: 0 0 0.5rem 0;
  color: #8e0e26;
}

.producto-card p {
  margin: 0.2rem 0;
  color: #5a295e;
}
